%div.form-container
  %div.form-header
    - if action_text == 'Create'
      %h4 Create New User
    - else
      %h4
        Edit User
        %span.highlight-text= @user.name

  - if @user.errors.any?
    %div.alert.alert-danger
      %h4= pluralize(@user.errors.count, "error") + " prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  = form_for @user do |f|
    %div.form-group
      = f.label :name, class: "form-label"
      = f.text_field :name, class: "form-control"
    %div.form-group
      = f.label :email, class: "form-label"
      = f.text_field :email, class: "form-control"
    %div.form-group
      = f.label :password, class: "form-label"
      = f.password_field :password, class: "form-control"
    %div.form-group
      = f.label :password_confirmation, class: "form-label"
      = f.password_field :password_confirmation, class: "form-control"
    %div.form-group
      = f.label :role, class: "form-label"
      - if current_account.is_a?(LegacyAccount)
        = f.select :role_id, current_account.roles.pluck(:name, :id), {}, class: "form-control"
      - else
        = f.fields_for :user_roles do |user_role_fields|
          = user_role_fields.select :role_id, current_account.roles.pluck(:name, :id), {}, class: "form-control"

    %div.form-group.submit-group
      = f.submit action_text
